/* Text colors */
.near-black { color: #2F2C29; }
.dark-gray { color: #4e443c; }
/* .mid-gray { color: #555; } */
.orange { color: #e05e0b; }
.blue { color: #0f758c; }
/* .light-blue { color: #96ccff; } */
/* .lightest-blue { color: #cdecff; } */
/* .washed-blue { color: #f6fffe; } */

/* Background colors */
.bg-black-03 { background-color: rgba( 0, 0, 0, .03 ); }
.bg-tan { background-color: #f5f5f0; }
.bg-orange { background-color: #ff6300; }
.bg-blue { background-color: #357edd; }
/* .bg-light-blue { background-color: #96ccff; } */
/* .bg-lightest-blue { background-color: #cdecff; } */
/* .bg-washed-blue { background-color: #f6fffe; } */
/*

SKINS:PSEUDO

Customize the color of an element when
it is focused or hovered over.

 */
.hover-orange:hover { color: #e05e0b; }
.hover-orange:focus { color: #e05e0b; }
.hover-blue:hover { color: #0f758c; }
.hover-blue:focus { color: #0f758c; }
/* .hover-light-blue:hover { color: #96ccff; } */
/* .hover-light-blue:focus { color: #96ccff; } */
/* .hover-lightest-blue:hover { color: #cdecff; } */
/* .hover-lightest-blue:focus { color: #cdecff; } */
/* .hover-washed-blue:hover { color: #f6fffe; } */
/* .hover-washed-blue:focus { color: #f6fffe; } */
.hover-bg-orange:hover { background-color: #ff6300; }
.hover-bg-orange:focus { background-color: #ff6300; }
.hover-bg-blue:hover { background-color: #0388a6; }
.hover-bg-blue:focus { background-color: #0388a6; }
/* .hover-bg-light-blue:hover { background-color: #96ccff; } */
/* .hover-bg-light-blue:focus { background-color: #96ccff; } */
/* .hover-bg-lightest-blue:hover { background-color: #cdecff; } */
/* .hover-bg-lightest-blue:focus { background-color: #cdecff; } */
/* .hover-bg-washed-blue:hover { background-color: #f6fffe; } */
/* .hover-bg-washed-blue:focus { background-color: #f6fffe; } */

.hover-b-orange:focus { border-color: #e05e0b; }
.hover-shadow-orange:focus { box-shadow: 0 0 0 3px rgba(224,94,11,.3); }

/*
 *
 * FONTS
 *
 */
code, .code { font-family: "SFMono-Regular", Consolas, Menlo, Andale, monospace; }
